body{
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.col-md-6{
    border:5px solid black;
    margin-top: 150px !important;
    padding: 20px;
}
button {
    margin :20px !important;
    border: 2px solid black !important;

}